.counts {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    background-color: #f5f5f5;
    border-bottom: 1px solid #049df9;
}

.counts > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.counts > div > p {
    margin: 0;
}

.accounts {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}

.accountsAdd {
    color: #ffffff;
    outline: 0 !important;
    border: none !important;
    border-radius: 25px;
    margin: 0 !important;
}

.accountsRemove {
    color: #ffffff;
    background-color: #ff0000;
    outline: 0 !important;
    border: none !important;
    border-radius: 25px;
    margin: 0 !important;
}

.vendors {
    display: grid;
    grid-template-columns: repeat(4, 3fr);
    column-gap: 20px;
    padding: 10px;
}

.vendors > div {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
}

.vendors > div > p {
    margin: 0 !important;
}

.toggle {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}

.toggle > p {
    margin: 0 !important;
}

.react-bootstrap-table-pagination-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
