.counts {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    background-color: #f5f5f5;
    border-bottom: 1px solid #049df9;
}

.counts > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.counts > div > p {
    margin: 0;
}

.accounts {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}

.accountsAdd {
    color: #ffffff;
    outline: 0 !important;
    border: none !important;
    border-radius: 25px;
    margin: 0 !important;
}

.accountsRemove {
    color: #ffffff;
    background-color: #ff0000;
    outline: 0 !important;
    border: none !important;
    border-radius: 25px;
    margin: 0 !important;
}

.vendors {
    display: grid;
    grid-template-columns: repeat(4, 3fr);
    column-gap: 20px;
    padding: 10px;
}

.vendors > div {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
}

.vendors > div > p {
    margin: 0 !important;
}

.toggle {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}

.toggle > p {
    margin: 0 !important;
}

.react-bootstrap-table-pagination {
    padding-left: 15px;
    width: 100% !important;
}

.react-bootstrap-table-pagination-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 0 !important;
}

/*

table tbody {
	display: grid;
    grid-template-columns: repeat(5, 2fr);
    font-size: 14px;
}

table tr {
	display: table-cell;
    padding: 0px;
}

table tr td {
	display: block;
}

td {
    text-align: left;
    display: flex !important;
    justify-content: flex-start !important;
    align-items: center !important;
    height: 50px;
}

tr:first-child {
    font-weight: 600;
}

tr:first-child > td:first-child,
tr:nth-child(2) > td:nth-child(1),
tr:nth-child(3) > td:nth-child(1),
tr:nth-child(4) > td:nth-child(1),
tr:nth-child(5) > td:nth-child(1) {
    color: #ffffff !important;
    background-color: darkblue;
    text-align: center;
    display: flex;
    justify-content: center !important;
    align-items: center !important;
}

tr:first-child > td:nth-child(2),
tr:nth-child(2) > td:nth-child(2),
tr:nth-child(3) > td:nth-child(2),
tr:nth-child(4) > td:nth-child(2) {
    color: #222222 !important;
    background-color: cyan;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

td > span:first-child {
    background-color: #9FA8DA;
}

td > span:nth-child(2) {
    color: #ffffff;
    background-color: #3F51B5;
}

td > span:nth-child(3) {
    color: #ffffff;
    background-color: #1A237E;
}

*/

.rt-thead .rt-tr .rt-th:nth-child(2) {
    background-color: #00ffff;
    border-bottom: 1px solid #f5f5f5;
}

.rt-tbody .rt-tr-group .rt-tr .rt-td:nth-child(2) {
    background-color: #00ffff;
}

.top3InvestmentCategories > span:first-child {
    background-color: #B39DDB;
    border: 1px solid black;
}

.top3InvestmentCategories > span:nth-child(2) {
    color: #ffffff;
    background-color: #673AB7;
    border: 1px solid black;
}

.top3InvestmentCategories > span:nth-child(3) {
    color: #ffffff;
    background-color: #311B92;
    border: 1px solid black;
}

.spendDistribution > span:first-child {
    background-color: #B39DDB;
    border: 1px solid black;
}

.spendDistribution > span:nth-child(2) {
    color: #ffffff;
    background-color: #673AB7;
    border: 1px solid black;
}

.spendDistribution > span:nth-child(3) {
    color: #ffffff;
    background-color: #311B92;
    border: 1px solid black;
}
